
body {
  background-image: url("http://fotos.piqs.de/e/2/d/e/a/67044062864102242fd86f659a88b85d.jpg");
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 20%;
  margin-left: 20%;
}
img {
  display: block;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
  color: black;
  font-family: times;
  font-size: 32;
}
p {
  text-align: center;
  color: black;
  font-family: times;
  font-size: 24;
}
