@viewport {
  width: device-width ;
  zoom: 1.0 ;
} 
body {
  background-color: steelblue;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 500px;
  margin-left: 500px;
}
h1 {
  color: black;
  font-family: times;
}
p {
  color: black;
  font-family: times;
}
