 
/* start css.sty */
.ecrm-1728{font-size:170%;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}
.ecti-1000{ font-style: italic;}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px; /* Adjust margin as needed */
}

.main-content {
    flex: 1; /* Takes up remaining space */
    padding-right: 20px; /* Adjust as needed */
	box-sizing: border-box;
}

.sidebar {
    flex-basis: 200px; /* Adjust the width of the sidebar */
    background-color: white; /* Light gray background for the sidebar */
    padding: 20px; /* Adjust padding as needed */
	box-sizing: border-box;
}

    /* Style links */
a {
    color: blue; /* Blue link color */
    text-decoration: none; /* Remove underline */
}

a:hover {
	text-decoration: underline; /* Add underline on hover */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .main-content,
  .sidebar {
    flex: auto;
    margin-bottom: 20px;
  }
}